.footer {
    .container {
        &-footer {
            padding-top: 80px;
            padding-bottom: 24px;
            @include responsive(sm) {
                padding-top: 40px;
            }
            .footer-inner {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 190px;
                @include responsive(sm) {
                    gap: 24px;
                }
                .content {
                    display: flex;
                    justify-content: space-between;
                    @include responsive(md) {
                        &:nth-child(odd) {
                            flex-direction: column;
                            gap: 32px;
                        }
                    }
                    @include responsive(sm) {
                        &:nth-child(odd) {
                            gap: 24px;
                        }
                        &:nth-child(even) {
                            flex-direction: column;
                            gap: 16px;
                        }
                    }
                    &-brand {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        @include responsive(xl) {
                            width: 40%;
                        }
                        @include responsive(md) {
                            width: 100%;
                            gap: 16px;
                        }
                        &-logo {
                            display: inline-flex;
                            img {
                                max-width: 147px;
                            }
                        }
                        &-subtext {
                            max-width: 407px;
                            color: $black;
                            font-family: $font-display;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 24px; /* 100% */
                            letter-spacing: -0.96px;
                            @include responsive(sm) {
                                max-width: 100%;
                            }
                        }
                    }
                    &-menus {
                        width: 50%;
                        display: flex;
                        justify-content: space-between;
                        @include responsive(md) {
                            width: 100%;
                        }
                        @include responsive(sm) {
                            flex-direction: column;
                            gap: 24px;
                        }
                        .services,
                        .categories,
                        .company,
                        .others {
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            gap: 16px;
                            &-label {
                                color: $subText4;
                                font-family: $font-display;
                                font-size: 16px;
                                font-weight: 500;
                                text-transform: uppercase;
                            }
                            &-list {
                                display: flex;
                                align-items: flex-start;
                                flex-direction: column;
                                gap: 16px;
                                .nav-link {
                                    color: $black;
                                    font-family: $font-display;
                                    font-size: 16px;
                                    font-weight: 400;
                                    letter-spacing: -0.64px;
                                }
                            }
                        }
                    }
                    &-copyright {
                        color: $subText3;
                        font-family: $font-display;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: normal;
                    }
                    &-mark {
                        display: flex;
                        gap: 40px;
                        &-subtext {
                            color: $subText4;
                            font-family: $font-display;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: -0.64px;
                        }
                    }
                }
            }
        }
    }
}
