.section-header {
    border: 1px solid #000;
    background: linear-gradient(108deg, #000 41.48%, #6350e3 128.75%);
    .container {
        &-header {
            padding-block: 72px;
            @include responsive(xl) {
                padding-block: 52px;
            }
            @include responsive(md) {
                padding-block: 42px;
            }
            .subtext-text {
                &-display {
                    color: $white;
                    font-family: $font-display;
                    font-size: 64px;
                    font-weight: 500;
                    line-height: 72px; /* 112.5% */
                    letter-spacing: -2.56px;
                    @include responsive(xl) {
                        font-size: 52px;
                        line-height: 68px;
                    }
                    @include responsive(md) {
                        font-size: 42px;
                        line-height: 56px;
                    }
                    @include responsive(sm) {
                        font-size: 28px;
                        line-height: 46px;
                        letter-spacing: -1.1px;
                    }
                }
            }
        }
    }
}
