.section-subscription {
    .container {
        
        &-subscription {
            padding-block: 40px;
            position: relative;
            .subtext {
                display: flex;
                flex-direction: column;
                gap: 80px;
                @include responsive(sm) {
                    gap: 40px;
                }
                &-text {
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    @include responsive(sm) {
                        gap: 16px;
                    }
                    &-display {
                        color: $white;
                        font-family: $font-display;
                        font-size: 96px;
                        font-weight: 500;
                        line-height: 96px; /* 100% */
                        letter-spacing: -3.84px;
                        @include responsive(xl) {
                            font-size: 72px;
                            line-height: 76px;
                        }
                        @include responsive(sm) {
                            font-size: 34px;
                            line-height: 42px;
                            letter-spacing: -1px;
                        }
                    }
                    &-desc {
                        color: $subText;
                        font-family: $font-body;
                        font-size: 20px;
                        line-height: 32px;
                        font-weight: 400;
                        letter-spacing: -0.64px;
                        max-width: 695px;
                        @include responsive(md) {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}
