$primary: #4900BF;

$white: #ffffff;
$black: #000000;

$display: #ffffff;
$subText: rgba(255, 255, 255, 0.80);
$subText2: rgba(255, 255, 255, 0.40);
$subText3: rgba(0, 0, 0, 0.80);
$subText4: rgba(0, 0, 0, 0.40);

.text-primary {
    color: $primary;
}

body {
    color: $black;
    background-color: #F3F3F3;
}
