// @font-face {
//     font-family: 'icomoon';
//     src:  url('../assets/icomoon.eot?5vv5sz');
//     src:  url('assets/icomoon.eot?5vv5sz#iefix') format('embedded-opentype'),
//       url('../assets/icomoon.ttf?5vv5sz') format('truetype'),
//       url('../assets/icomoon.woff?5vv5sz') format('woff'),
//       url('../utilities/assets/icomoon.svg?5vv5sz#icomoon') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: block;
//   }

// @font-face {
//     font-family: "ThunderMed";
//     src: url("/assets/fonts/Thunder-MediumLC.woff") format("woff"),
//         url("/assets/fonts/Thunder-MediumLC.woff2") format("woff2"),
//         url("/assets/fonts/Thunder-MediumLC.ttf") format("truetype");
//     font-style: normal;
//     font-weight: normal;
//     text-rendering: optimizeLegibility;
// }

// Font Family

// $fontFamilyInter: "Inter", sans-serif;
// $fontFamilyGilroy: "Gilroy", sans-serif;
// $fontFamilies: (
//     font-sans:
//         'ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"',
//     font-serif: 'ui-serif, Georgia, Cambria, "Times New Roman", Times, serif',
//     font-mono: 'ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace',
//     font-inter: '"Inter", sans-serif',
//     font-gilroy: '"Gilroy", sans-serif',
// ) !default;

$font-display: "Satoshi", sans-serif;
$font-body: "Plus Jakarta Sans", sans-serif;

// Font Size
$base: 16px;
$h1: 96px;
$h2: 64px;
$h4: 32px;
$p-md: 24px;
$p: 16px;
$p-sm: 12px;

// Heading
h1 {
    font-family: $font-display;
    font-size: $h1;
    font-weight: 400;
}
h2 {
    font-family: $font-display;
    font-size: $h2;
    font-weight: 400;
}
h4 {
    font-family: $font-display;
    font-size: $h4;
    font-weight: 400;
}

p {
    font-family: $font-display;
    font-size: $p;
    font-weight: 400;
}

body {
    font-family: $font-display;
    font-size: $base;
}
